/*  ============== responsive contact-us ===============*/
@media (max-width: 1200px) {
  .contact-pic {
    width: 33.5%;
  }

  .contact-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact {
    padding: 90px 80px 88px 90px;
  }

  .contact-pic {
    width: 35%;
  }

  .contact-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact {
    padding: 90px 80px 88px 80px;
  }

  .contact-pic {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact {
    padding: 90px 15px 88px 15px;
  }
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  /* Tambahkan CSS untuk tag <h1> didalam top-wrapper */
  .top-wrapper h1 {
    font-size: 32px;
  }

  /* Tambahkan CSS untuk tag <h2> didalam heading */
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media(max-width: 670px) {
  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }

  /* Gantikan width btn ke 100% */
  .btn {
    width: 100%;
  }

  /* Tambahkan CSS untuk top-wrapper */
  .top-wrapper {
    text-align: left;
    padding-top: 130px;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }

  @media(max-width:1000px) {
    .menu-icon {
      color: white;
      float: right;
      font-size: 25px;
      padding: 21px 0;
    }
  }

  /* Tambahkan CSS untuk tag <h1> didalam top-wrapper */
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  /* Tambahkan CSS untuk tag <p> didalam top-wrapper */
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

}