/*  ============== responsive contact-us ===============*/
@media (max-width: 1200px) {
  .contact-pic {
    width: 33.5%;
  }

  .contact-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact {
    padding: 90px 80px 88px 90px;
  }

  .contact-pic {
    width: 35%;
  }

  .contact-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact {
    padding: 90px 80px 88px 80px;
  }

  .contact-pic {
    display: none;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact {
    padding: 90px 15px 88px 15px;
  }
}