/* =============== contact us ================*/
@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Montserrat-Regular, sans-serif;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/* Top Wrapper Start */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  height: 65px;
  width: 100%;
  font-family: Montserrat-Regular;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu-icon {
  display: none;
}

.headlogo {
  font-family: "consolas";
  font-weight: bold;
  font-size: 32px;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


.top-wrapper {
  height: 100vh;
  background-image:
    linear-gradient(to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)),
    url('https://i.imgur.com/k7pevRy.jpg');

  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}


/* Top Wrapper End */



.contact-us {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

.contact-pic {
  width: 296px;
}

.contact-pic img {
  max-width: 100%;
}

.contact-form {
  width: 390px;
}

.contact-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input+.shadow-input {
  border-radius: 25px;
}

textarea.input {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}

textarea.input+.shadow-input {
  border-radius: 25px;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.5);
}

.input:focus+.shadow-input {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background: #333333;
}

.contact-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/* portofolio wrapper start */
.portfolio-wrapper {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: center;

}

.heading h2 {
  font-weight: normal;
}

.person {
  float: left;
  width: 20%;
}

.person:hover {
  transform: scale(1.1);
}

.person strong {
  margin-bottom: 10px;
  position: relative;
}

.person-icon {
  position: relative;
}

.person-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: black;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.container-portofolio {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 90px 100px 90px 100px;
}

/* portofolio wrapper end*/
/* about us - footer */
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

.our-team {
  background: #009bff;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  margin-top: 10%;
}

.wrapper h1 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member {
  background: #fff;
  margin: 50px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3 {
  color: #4db8ff;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.footer {
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;

}

.icon {
  width: 100%;
  height: auto;
  margin: auto;
}

.icon ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.icon ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #009bff;
}

.icon ul li a {
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}

.icon ul li a i {
  line-height: 50px;
}

.icon ul li:hover {
  background: #4db8ff;
}

.icon ul li a:hover>i {
  transform: scale(1.6) rotate(25deg);
}

.nav {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

.nav ul li a {
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav ul li a:hover {
  color: #4db8ff;
}

.nav1 {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}

.nav1 ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.nav1 ul li {
  display: inline-block;
  margin: 0px 20px;
}

.nav1 ul li a {
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav1 ul li a:hover {
  color: #4db8ff;
}

.nav2 {
  width: 100%;
  height: auto;
  margin: auto;
}

.nav2 ul {

  text-align: center;
}

.nav2 ul li {

  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #fff;
}

.nav2 ul li a {
  text-decoration: none;
  color: #272727;
  font-size: 25px;
  display: block;
}

.nav2 ul li a i {
  line-height: 50px;
}

.nav2 ul li:hover {
  background: #4db8ff;
}

.nav2 ul li a:hover>i {
  transform: scale(1.6) rotate(180deg);
}

.footer-end {
  width: 100%;
  height: auto;
  margin: auto;
  background: #009bff;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
}

.footer-end p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;

}

.footer-end a {

  text-decoration: none;
  color: #fff
}

.footer-end a:hover {
  color: #4db8ff;
}

@media(max-width:691px) {

  .nav1 ul li a,
  .nav ul li a {
    font-size: 16px;
  }
}

@media(max-width:604px) {

  .nav1 ul li a,
  .nav ul li a {
    font-size: 14px;
  }

  .nav ul li {
    padding: 0px;
  }
}

@media(max-width:559px) {

  .nav1 ul li a,
  .nav ul li a {
    font-size: 13px;
  }

}

@media(max-width:539px) {

  .nav1 ul li a,
  .nav ul li a {
    font-size: 11px;
  }

  .nav ul li {
    margin: 5px 20px;
  }

  .nav ul li.p1 {
    padding-top: 10px;
  }
}

@media(max-width:380px) {

  .nav ul li,
  .nav1 ul li {
    display: block;
    padding: 5px;
  }

  .nav2 ul li {
    display: none;
  }

  .icon ul li a i {
    line-height: 38px;
  }

  .icon ul li a {
    font-size: 20px;
  }

  .icon ul li {
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 375px) {
  .nav ul li.p1 {
    padding-top: 0px;
  }
}